* {
    margin: 0px;
}

/* Common shared styles */
body {
    font-family: 'Lato', sans-serif;
}

.pink-text {
    color: #E55473;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    padding: 20px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-right: 30px;
}

/* .full-bg{
    width: 100%;
}
.container{
    width: 1440px;
    margin: 0 auto;
} */

/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 240px;
}

.nav-title {
    font-weight: 800;
    font-size: 50px;
    color: black;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #E55473;
}

/* header style */

header {
    background: rgba(229, 84, 115, 0.10);
}

.banner {
    padding: 50px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {}

.banner-img {
    width: 500px;
}

.banner-tital {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
}

.banner-pera {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}